h1 Bernard's Appli.ed Report
table(style="border-collapse:collapse;border:solid 1px gray;")
    tr
        th Name
        th Objective
        th Due days
    each objective in objectives
        tr(style="border-collapse:collapse;border:solid 1px gray;")
            td(style="border-collapse:collapse;border:solid 1px gray;padding:1rem;")=objective.name
            td(style="border-collapse:collapse;border:solid 1px gray;padding:1rem;") #{objective.title} #{objective.status === "Complete" ? "✅" : ""}
            td(style="border-collapse:collapse;border:solid 1px gray;padding:1rem;text-align:center;")=objective.days_to_due